<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="stylesheet" href="/src/styles.css">

  
  
  <title>Frontend Mentor | Interactive comments section</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
   
  </style>
</head>
<body>

  <script src="index.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <section id="app">
    <div class="container">
      <p> Impressive! Though it seems the drag feature could be improved. But overall it looks incredible. You've nailed the design and the responsiveness at various breakpoints. Works really well!:)</p>
      <div class="row">
        <div class="col-6">
          <div class="comment">
            <p v-for="items in item" v-text="items"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class="primaryContained float-right" type="submit">Reply</button>
        </div>
      </div>
     </div>
  </section>
   
      
    
  

     <section id="app">
       <div class="container">
        <p> Woah. Your project looks awesome! How long have you been coding for? I'm still new but I think I want to dive into React as well soon. Perhaps you can give me an insight on where I can learn React? Thanks!<p>

         <div class="row">
           <div class="col-6">
             <div class="comment">
               <p v-for="items in item" v-text="items"></p>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-6">
             <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
             <button v-on:click="addItem()" class="primaryContained float-right" type="submit">Reply</button>
           </div>
         </div>
        </div>
     </section>
    </div>

  <!-- Pull dynamic content from the data.json file -->
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Pablo Hernandez</a>.
  </div>
</body>
</html> 
